<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PlotPoint</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="/static/styles.css" rel="stylesheet">

</head>

<body class="bg-cstm-green">
  {% include "components/navbar.html.jinja" %}
  <div class="row w-100 mx-auto mb-1 text-center">
    <div class="d-flex justify-content-center">
      <div class="col-md-3 my-2">
        <select class="form-control" id="yearDropdown">
        {% for years in year %}
          <option value="{{years}}" selected>{{years}}</option>
        {% endfor %}
          
        </select>
      </div>
      <div class="col-md-3 mx-2 my-2">

        <select class="form-control" id="monthDropdown">
          <option value="0">January</option>
          <option value="1">February</option>
          <option value="2">March</option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 mx-auto mt-1">
      <div class="owl-carousel" id="calendar-container"></div>
    </div>

  </div>
<div>
  {{assignmentreceive}}
<!--{%for Assignments in solution%}
    <p>{{Assignments["date"]}}</p>
    <p>{{Assignments["name"]}}</p>
  {%endfor%}--
</div>
  {# </div> #}

   <button id="openPopup" class="btn btn-cstm-red">Add Assignments</button>
    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Create A New Assignment</h2>
            <form id="myForm" action="/formSub" method="post">
              Name of the Assignment:<input type="text" name="name"><br>
              Years:<input type="number" id="se" name="years" is="decimal-input" min="2025" max="2027" step="1" value="2025"><br>
              Minutes:<input type="number" id="mi" name="minutes" is="decimal-input" min="0" max="60" step="1" value="0" ><br> 
              Hours:<input type="number" id="ho" name="hours" is="decimal-input" min="1" max="24" step="1" value="1" ><br> 
              Days:<input type="number" id="da" name="days" is="decimal-input" min="1" max="30" step="1" value="1"><br> 
              Months:<input type="number" id="mo" name="months" is="decimal-input" min="1" max="12" step="1" value="1"><br>
              <input type="button" onclick="Popup()" value="Submit form">
            </form> 
            <button id="closePopup" style="margin-top: 10px; padding: 5px 10px; background-color: #dc3545; color: #fff; border: none; border-radius: 3px;">Close</button>
        </div>
    </div>

  <script src="/static/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script>
        const openPopup = document.getElementById('openPopup');
        const closePopup = document.getElementById('closePopup');
        const popup = document.getElementById('popup');

        openPopup.addEventListener('click', () => {
            popup.style.display = 'flex';
            console.log('Button clicked');
        });

        closePopup.addEventListener('click', () => {
            popup.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target === popup) {
                popup.style.display = 'none';
            }
        });
    </script>

</body>

</html>