.bg-cstm-cyan{
background-color: #CEFFFA;
}
.bg-cstm-green{
    background-color: #D5E8D4;
}
.btn-cstm-prpl{
    color: #9c0000;
    background-color: #7E5CDC;   
}
:hover.btn-cstm-prpl{
    background-color: #a186e9;
    text-decoration: underline;
    color: #c14141;
}
.txt-cstm-red{
    color: #d45974;
}
.btn-cstm-red{
    background-color: #d45974;
    color: azure;
}
:hover.btn-cstm-red{
    background-color: #e6859a;
}
.txt-cstm-red{
    color: #d45974;
}
.btn-cstm-meow{
    color: #a91919;
    background-color: #663adf;   
}

.green{
    background-color: #CEFFFA;
}
.popup {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: #d45974;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color:white; 
}

/* number-1-is-navbar-number-2-is-whole */
.dark-theme1{
    background-color: #ADADAD;
}

.peach-beach1{
    background-color: #FFF2CC;
}

.krystal-ice1{
    background-color: #CCF0FF;
}   

.blueberry-cream1{
    background-color: #FFF2CC;
}

.green-tea1{
    background-color: #FFE6CC;
}

.pumpkin-pie1{
    background-color: #FFA270;
}
testy 
.sunset-purple1{
    background-color: #D5BDE5;
}

.dark-theme2{
    background-color: #4A4A4A;
}

.peach-beach2{
    background-color: #E2B1B1;
}

.krystal-ice2{
    background-color: #D8E5E9;
}   

.blueberry-cream2{
    background-color: #DAE8FC;
}

.green-tea2{
    background-color: #CEDBB3;
}

.pumpkin-pie2{
    background-color: #ECB883;
}

.sunset-purple2{
    background-color: #FAD9D5;
}

:hover.btn-cstm-meow{
    background-color: #a186e9;
    text-decoration: underline;
    color: #c14141;
}
.custom_container {  display: grid;
    grid-template-columns: auto;
    grid-template-rows: 79px 0.9fr 2.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar"
      "content"
      "content"
      "footer";
  }
  
.navbar { grid-area: navbar; }
  
.content {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 2.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "horizontal calendar horizontal calendar horizontal calendar horizontal calendar horizontal calendar horizontal calendar horizontal calendar"
    "assignment assignment assignment assignment assignment assignment assignment"; 
  grid-area: content; 
}
.horizontal calendar { grid-area: horizontal calendar; }
  
.assignment { grid-area: assignment; }
  
.footer { grid-area: footer; }
  
@media screen and (max-width: 767px) {
    .font-size-large {
      font-size: 9vw;
    }
    .font-size-mid {
        font-size: 6vw;
    }
    .font-size-small {
        font-size: 3.7vw;
    }
  }
  @media screen and (max-width: 1023px) and (min-width:768px) {
    .font-size-large {
      font-size: 7vw;
    }
    .font-size-mid {
        font-size: 4vw;
    }
    .font-size-small {
        font-size: 2.3vw;
    }
  }
  @media screen and (min-width: 1023px) {
    .font-size-large {
      font-size: 6vw;
    }
    .font-size-mid {
        font-size: 4vw;
    }
    .font-size-small {
        font-size: 2vw;
    }
  }
 /*code for the popup*/ 
 .popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

  
.list-group{ 
    --bs-list-group-bg: none
  }

  .owl-carousel{
    z-index: 0;
}