<head>
<script>
        var wow = new WOW({
            boxClass:     'wow',
            animateClass: 'animate__animated'
        })
        wow.init();
</script>
</head>
<footer class="text-center text-lg-star bg-cstm-green text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/cycil-paynter-823694246/" class="me-4 text-reset">
                <i class="fab fa-linkedin">Cycil's LinkedIn</i>
            </a>
            <a target="_blank" href="https://github.com/TIMPRO12" class="mr-3 text-reset">
            <a target="_blank" href="https://github.com/TIMPRO12" class="mr-3 text-reset">
                <i class="fab fa-github">&amp; Github</i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/logan-vergara-55a7502b8/" class=" me-4 text-reset">
                <i class="fab fa-linkedin">Logan's LinkedIn</i>
            </a>
            <a target="_blank" href="https://github.com/Rgjmerc" class="mr-3 text-reset">
                <i class="fab fa-github">&amp; Github</i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/jayden-baird-593781256/" class=" me-4 text-reset">
                <i class="fab fa-linkedin">Jayden's LinkedIn</i>
            </a>
            <a target="_blank" href="https://github.com/JaydenBaird" class="mr-3 text-reset">
                <i class="fab fa-github">&amp; Github</i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-4"></i>PlotPoint
                    </h6>
                    <a href="#!">
                        <img src="/static/images/redonelogotrans.png" alt="PlotPoint Logo" width="160" height="145">
                        <img src="/static/images/redonelogotrans.png" alt="PlotPoint Logo" width="160" height="145">
                    </a>
                    <p class="font-weight-bold">
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/settings" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="/acc" class="text-reset">Account</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 11205, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        cpaynter@brooklynsteamcenter.org
                        lvergara@brooklynsteamcenter.org
                        jbaird@brooklynsteamcenter.org
                    </p>
                    <p><i class="fas fa-phone me-3"></i>+1 347-464-3680</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>